.main{
  background-color: var(--color-ex2);
}
.btn{
  background: var(--color-p3);
  color: var(--color-ex2);
}
.btn:hover{
  background: var(--color-p2);
  color: var(--color-ex2);
}
/*table styles*/
label,table{
  color: var(--color-ex);
}

table>tbody>tr:hover{
  background:var(--color-p) ;
  color: var(--color-ex2);
  cursor: pointer;
}