<div class="container mt-5">
  <div class="row border mat-elevation-z2 g-5 px-3 mb-5">
    <!-- Customer data -->
    <div class="col-lg-4" *ngIf="customer">
      <div class="row mat-elevation-z1 p-3">
        <!--tittle-->
        <div>
          <h3 class="text-center">
            Datos del cliente:
          </h3>
          <hr>
        </div>
        <!--name-->
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" [value]="customer.name | titlecase" disabled readonly>
          <label class="mx-2" for="floatingInput">Nombre:</label>
        </div>
        <!--ci-->
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" [value]="customer.ci" disabled readonly>
          <label class="mx-2" for="floatingInput">Ci:</label>
        </div>
        <!--tlf-->
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" [value]="customer.phone_number" disabled readonly>
          <label class="mx-2" for="floatingInput">Tlf:</label>
        </div>
        <!--email-->
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" [value]="customer.email" disabled readonly>
          <label class="mx-2" for="floatingInput">Email:</label>
        </div>
        <!--address-->
        <div class="form-floating mb-4">
          <textarea class="form-control" id="floatingInput" [value]="customer.address" disabled readonly></textarea>
          <label class="mx-2" for="floatingInput">Direccion:</label>
        </div>
      </div>
    </div>
    <!-- Customer invoices -->
    <div class="col-lg-8">
      <div class="row justify-content-center mat-elevation-z1 px-2">
        <div class="col-lg-12 w-50 text-center" *ngIf="customer">
          <div class="pt-4">
            <h3>
              Facturas a nombre de : {{customer.name | titlecase}}
            </h3>
            <hr>
          </div>
        </div>
        <div *ngIf="customer && payments.length < 1" class="text-center text-muted">
          <h4>
            No hay Facturas a nombre de {{customer.name | titlecase}}
          </h4>
        </div>
        <!--Table-->
        <div class="col-lg-12 table-container" [ngClass]="{'hideInvoices': payments.length < 1}">
          <!--Tittle-->
          <div class="text-end ">
            <mat-form-field appearance="standard">
              <mat-label>Buscar por Producto</mat-label>
              <input matInput (keyup)="applyFilter($event)" #input>
            </mat-form-field>
          </div>
          <!--table-->
          <div class="mat-elevation-z2">
            <table mat-table [dataSource]="dataSource" class="w-100">
              <!-- date Column -->
              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> Fecha </th>
                <td mat-cell *matCellDef="let payment"> {{payment.createdAt | date:'M/d/yy, h:mm a'}} </td>
              </ng-container>
              <!-- product_names Column -->
              <ng-container matColumnDef="product_name">
                <th mat-header-cell *matHeaderCellDef> Producto/s </th>
                <td mat-cell *matCellDef="let payment"> 
                  <div *ngFor="let product of payment.Product_Payments">
                    <span matTooltip="{{'cantidad: '+ product.product_qty }}" 
                    matTooltipClass = "tooltipPer" 
                    [routerLink]="['/admin/products/details',product.paidProduct.id]"
                    class="clickeable">
                      {{product.paidProduct.name | titlecase}}
                    </span>
                  </div>
                </td>
              </ng-container>
              <!-- sub_total Column -->
              <ng-container matColumnDef="sub_total">
                <th mat-header-cell *matHeaderCellDef> Sub total </th>
                <td mat-cell *matCellDef="let payment"> {{payment.sub_total}} </td>
              </ng-container>
              <!-- total Column-->
              <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef> Total </th>
                <td mat-cell *matCellDef="let payment"> {{payment.total}} </td>
              </ng-container>
              <!--status Column-->
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Estado del pago </th>
                <td mat-cell *matCellDef="let payment">
                  <span *ngIf="payment.status == false" class="text-danger">
                    Deuda
                  </span>
                  <span *ngIf="payment.status == true" class="text-success">
                    Pagado
                  </span>  
                </td>
              </ng-container>
              <!-- CONFIRM Column-->
              <ng-container matColumnDef="confirm">
                <th mat-header-cell *matHeaderCellDef> - </th>
                <td mat-cell *matCellDef="let payment">
                  <a *ngIf="payment.status == false" matTooltip="Confirmar Pago" matTooltipClass = "tooltipPer" (click)="payConfirmation(payment.id)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                      <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                    </svg>
                  </a>
                  <span *ngIf="payment.status == true" class="text-success">
                    -
                  </span>
                </td>
              </ng-container>
              <!-- details Column-->
              <ng-container matColumnDef="details">
                <th mat-header-cell *matHeaderCellDef> - </th>
                <td mat-cell *matCellDef="let payment" matTooltip="Detalles de la factura" matTooltipClass = "tooltipPer"
                >
                <a [routerLink]="['/admin/payments/details',payment.id]">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                  </svg>
                </a>
                </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          
              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No encontrado "{{input.value}}"</td>
              </tr>
            </table>
            <mat-paginator [pageSizeOptions]="[4]" aria-label="Select page of moves" showFirstLastButtons></mat-paginator>
          </div> 
        </div>
      </div>
    </div>
    <!--QR generate-->
    <div class="col-lg-12 my-5" *ngIf="customer">
      <div class="row mat-elevation-z2 p-3 align-items-center justify-content-center">
        <!--button-->
        <div class="col-lg-4 text-center" *ngIf="!customer.qrcode">
          <div class="d-grid gap-2">
            <button class="btn d-inline" (click)="CreateQr()"> Generar tarjeta QR de miembro</button>
          </div>
        </div>
        <!--card-->
        <div class="col-lg-8 mb-3" *ngIf="customer.qrcode">
          <div class="d-flex justify-content-center"> 
            <div class="d-flex py-3 px-4 qrcard mat-elevation-z3 rounded">
              <div class="me-5">
                <h3 class="ms-3">NOMBRE EMPRESA</h3>
                <br>
                <!--another icon-->
                <div class="d-flex align-items-center mb-2">
                  <div class="icon-container text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                      <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    </svg>
                  </div>
                  <div>
                    {{customer.name | titlecase}}
                  </div>
                </div>
                <!--another icon-->
                <div class="d-flex align-items-center mb-2">
                  <div class="icon-container text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                    </svg>
                  </div>
                  <div>
                    {{customer.phone_number | titlecase}}
                  </div>
                </div>
                <!--another icon-->
                <div class="d-flex align-items-center">
                  <div class="icon-container text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                      <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                    </svg>
                  </div>
                  <div>
                    Texto de prueba
                  </div>
                </div>
                <!--another icon-->
              </div>
              <img [src]="customer.qrcode">
            </div>
          </div>
        </div>
        <button
          class="btn"
          styleSheetFile="assets/css/custom-1.css"
          printTitle="Tarjeta de membrecia"   
          printSectionId="print-section" 
          ngxPrint
          *ngIf="customer.qrcode">
            imprimir tarjeta
        </button>
      </div>
    </div>
  </div>
</div>
<div class="clearfix">...</div>

<!--card to print-->
<div class="invisible visually-hidden" *ngIf="customer">
  <div class=""  id="print-section"> 
    <div class="main">
      <div class="border">
        <h5 class="">NOMBRE EMPRESA</h5>
        <!--another icon-->
        <div class="submain">
          <div class="icon-container">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-person-fill" viewBox="0 0 16 16">
              <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            </svg>
          </div>
          <div>
            {{customer.name | titlecase}}
          </div>
        </div>  
        <!--another icon-->
        <div class="submain">
          <div class="icon-container">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-telephone-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
            </svg>
          </div>
          <div>
            {{customer.name | titlecase}}
          </div>
        </div> 
        <!--another icon-->
        <div class="submain">
          <div class="icon-container">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-star-fill" viewBox="0 0 16 16">
              <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
            </svg>
          </div>
          <div>
            {{customer.name | titlecase}}
          </div>
        </div> 
      </div>
      <img [src]="customer.qrcode">
    </div>
  </div>
</div>