<div class="text-center login-body">
    <main class="form-signin mat-elevation-z10 rounded">
      <!--sesion alert-->
      <app-sesion-alert></app-sesion-alert>
      <!--formulario-->
      <form #loginForm='ngForm' (keydown.enter)="OnSubmit(loginForm)">
        <!-- icono de login  -->
        <img class="mb-4" src="assets/images/login/Bootstrap.svg" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">{{title}}</h1>
        <div class="form-floating">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
          name="name" #name="ngModel" [(ngModel)]="user.name"
          >
          <label for="floatingInput">Nombre de usuario</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
            name="password" #name="ngModel" [(ngModel)]="user.password"
          >
          <label for="floatingPassword">Contraseña</label>
        </div>
        <input type="button" value="Iniciar sesión" class="w-100 btn btn-lg" (click)="OnSubmit(loginForm)">
        <p class="mt-5 mb-3 text-muted">&copy; 2021–2022</p>
      </form>
    </main>
</div>
