/*tittle*/
div>h1{
  color: var(--color-p);
}
/*table*/
table {
  width: 100%;
}
.mat-form-field {
  font-size: 14px;
  width:30%;
}
td, th {
  width: auto;
}
td {
  max-width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
td>a{
  cursor: pointer;
}
th.mat-header-cell {
  text-align: center !important;
}
.mat-cell {
  text-align: center;
  justify-content:center;
}
.clickeable:hover {
  cursor: pointer;
  color: var(--color-s3);
  font-weight: bold;
}
/*earns styles*/
.earns-success{
  color: rgb(13, 207, 13);
}
.earns-danger{
  color: rgb(255, 0, 0);
}