/*table*/
td {
  max-width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
th.mat-header-cell {
  text-align: center !important;
}
.mat-cell {
  text-align: center;
  justify-content:center;
}
/*links*/
a{
  cursor: pointer;
}
/*buttons*/
.btn{
  background: var(--color-p3);
  color: var(--color-ex2);
}
.btn:hover{
  background: var(--color-p2);
  color: var(--color-ex2);
}
/*ngclass for hidde search*/
.hide-search{
  visibility: hidden
}
.show-search{
  visibility: visible;
}
/*customsearch add icon and text */
#addcustomer{
  color: var(--color-p);
}
.bi-plus{
  color: rgb(1, 182, 1);
}

.total{
  color: var(--color-s);
  font-weight: bold;
}