/*table*/
td {
  max-width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
th.mat-header-cell {
  text-align: center !important;
}
.mat-cell {
  text-align: center;
  justify-content:center;
}
/**/
a{
  cursor: pointer;
}