/*loader*/
.loader-box{
  height: 80vh;
}
/*table box */
div>h1{
  color: var(--color-p) !important;
}
/*table*/
table {
  width: 100%;
}
.mat-form-field {
  font-size: 14px;
  width:30%;
}
td, th {
  width: 25%;
}
.mat-row:hover .mat-cell {
  cursor: pointer;
  background:var(--color-p);
  color: var(--color-ex2);
}